/* 모달창 활성화 시 배경 */
.modalBackground {
    border-radius: 11.5px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 30%;
    box-shadow: 0 2px 10px 1px #707070;
}

/* 임시 비밀번호 발급 모달창 */
.forgotPw_modal {
    border-radius: 12px;
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    z-index: 1001;
}

.user_forgotPw_buttonClose {
    width: 24px;
    height: 24px;
    position: relative;
    background-image: url('../../img/users/buttonClose.png');
    font-weight: bold;
    cursor: pointer;
}

.user_forgotPw_title {
    position: relative;
    top: 15px;
    left: 5px;
    bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.user_forgotPw_hr {
    border: 0;
    width: 390px;
    height: 1px;
    position: relative;
    top: 25px;
    margin-left: -15px;
    background: lightgray;
}

.user_forgotPw_h2 {
    position: relative;
    top: 45px;
    left: 5px;
    font-size: 17px;
}

.user_forgotPw_p {
    position: relative;
    top: 55px;
    left: 5px;
    font-size: 15px;
}

.user_forgotPw_input {
    outline: 0;
    border: none;
    border-radius: 5px;
    width: 330px;
    height: 25px;
    margin-top: 90px;
    margin-left: 5px;
    padding: 10px;
    position: relative;
    background-color: #f5f5f5;
    font-size: 15px;
    cursor: text;
}

.user_forgotPw_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset;
    -webkit-text-fill-color: #000;
}

.user_forgotPw_input:-webkit-autofill,
.user_forgotPw_input:-webkit-autofill:hover,
.user_forgotPw_input:-webkit-autofill:focus,
.user_forgotPw_input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.user_forgotPw_input::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.user_forgotPw_error {
    margin: 5px;
    color: red;
    font-size: 0.8em;

    /* 리액트 개행 */
    white-space: pre-line;
}

.forgotPw_btn {
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 45px;
    margin: 15px;
    padding: 10px;
    position: relative;
    left: 50%;
    margin-left: -175px;
    background-color: #ff2f6e;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.forgotPw_buttonX {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: -34px;
    margin-bottom: 100px;
    right: 85px;
    background-image: url('../../img/users/buttonX.png');
    cursor: pointer;
}

.user_forgotPw_inputError {
    border: 1px solid red;
    background: url('../../img/users/buttonWarn.png') no-repeat 95% 50%;
    background-color: #fff0f0;
}

.user_forgotPw_inputPass {
    background: url('../../img/users/buttonPass.png') no-repeat 95% 50%;
    background-color: #f5f5f5;
}



/* 비밀번호 변경 모달창 */
.changePw_modal {
    border-radius: 10px;
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    box-shadow: 0 2px 10px 1px #707070;
    z-index: 1001;
}

.changePw_title {
    position: relative;
    top: 15px;
    left: 5px;
    bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}

.changePw_p {
    position: relative;
    margin-top: 30px;
    margin-bottom: 22px;
    left: 5px;
    font-size: 17px;
    white-space: pre-line;
}

.changePw_div {
    width: 100%;
    height: 50px;
    position: relative;
}

.changePw_input {
    outline: 0;
    border: none;
    border-radius: 5px;
    width: 330px;
    height: 25px;
    margin-left: 5px;
    padding: 10px;
    position: relative;
    background-color: #f5f5f5;
    font-size: 15px;
    cursor: text;
}

.changePw_buttonX {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 70px;
    margin-top: -12px;
    background-image: url('../../img/users/buttonX.png');
    cursor: pointer;
}

.changePw_inputError {
    border: 1px solid red;
    background-color: #fff0f0;
}

.changePw_error {
    margin: 5px;
    color: red;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8em;
    white-space: pre-line;
}

.viewPasswordTrue,
.viewPasswordFalse {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -12.5px;
    cursor: pointer;
}

.viewPasswordTrue {
    background: url('../../img/users/viewPwTrue.svg') no-repeat 95% 50%;
}

.viewPasswordFalse {
    background: url('../../img/users/viewPwFalse.svg') no-repeat 95% 50%;
}

.changePw_btn {
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 45px;
    margin: 15px;
    padding: 10px;
    position: relative;
    left: 50%;
    margin-left: -175px;
    background-color: #ff2f6e;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}