@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto&display=swap');

.movieCollection_Wrapper {
    width: 100%;
    height: 100%;
    margin-top: 62px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.8px;
    padding-top: 40px;
    background-color: rgb(248, 248, 248);
}

.movieCollection_Wrapper .collection_container {
    width: 1320px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px auto 0 auto;
    background-color: #ffffff;
}

.commentDetail_movieDetail {
    text-align: right;
    cursor: pointer;
}

.collection_container .collection_title_container {
    position: relative;
    height: auto;
    margin-bottom: 10px;
}

.commentDetail_moviePoster {
    height: 130px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}

.collection_container .collection_title_container .collection_title {
    margin: 0 20px;
}

.collection_container .collection_title_container .collection_title h1 {
    color: rgb(0, 0, 0);
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 21px;
}
.collection_title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #8c8c8c;
}
.col_title_bot_small{
    margin-top: 15px;

}
.col_title_bot_small p{
    float: left;
    margin-right: 5px;
}
.col_title_bot_small span{
    float: left;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #1c1d1f;
}

.col_title_button{
    margin: 45px auto;
    width: 1280px;
    height: 43px;
    border-top: 1px solid rgba(80,80,80,0.5);
    border-bottom: 1px solid rgba(80,80,80,0.5);
    padding: 3px 0 5px 0;
}
.col_title_button_like,.col_title_button_comment,.col_title_button_sns{
    width: 33%;
    text-align: center;
    align-items: center;
    line-height: 43px;
    cursor: pointer;
    display: inline-block;
}
.col_title_button_like p,.col_title_button_comment p,.col_title_button_sns p{
    font-size: 13px;
    color: rgb(140, 140, 140);
    display: inline-block;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-left: 5px;
}
.ThumbsUp{
    font-size:15px ;
    color:rgb(140, 140, 140);
    line-height: 50px;

}
.commentArea {
    margin-top: 20px;

    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;
}
.col_title_button_like:after, .col_title_button_comment:after{
    content: '|';
    display: inline-block;
    position: relative;
    left: 193px;
    font-size: 15px;
    color: rgb(240, 240, 240);
}
.col_title_button_sns:after{
    content: '|';
    display: inline-block;
    position: relative;
    left: 74px;
    font-size: 15px;
    color: transparent;
}
.col_title_button_like:hover,
.col_title_button_comment:hover,
.col_title_button_sns:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    transition: 0.5s;
}

.collection_container .collection_movies {
    margin: 0 20px;
    height: 40px;
}
.comments{
    margin: 0px auto;
    width: 1320px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.comments h1{
    margin: 20px 20px;
}

.commentcommentBox{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);;
    width: 1320px;
    display: flex;
    margin: 0 auto;
    padding: 15px;
}
.ccImgBox{
    float: left;
    width: 32px;
    height: 100%;
    margin-left: 20px;
}
.ccimg{
    margin: 0px auto;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}
.ccDetail{
    width: 100%;
    margin-bottom: 15px;
}
.ccDetailTop{
    width: 100%;
    height: 18px;
}
.ccName{
    float: left;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 18px;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.8);
}
.ccDate{
    float: right;
    color: gray;
    font-size: 12px;
    margin-right: 35px;
}
.ccDetailMiddle{
    width: 100%;
    color: rgb(74, 74, 74);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.55px;
    line-height: 22px;
    white-space: pre-wrap;
    width: calc(100% - 40px);
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 9px;
}
.ccDetailBottom{
    width: 100%;
}
.ccBottomLeft{
    margin-left: 9px;
    font-size: 12px;
    cursor: pointer;
    float: left;

}
.ccLike{
    margin-right: 6px;
}
.dots{
    font-size: 12px;
    color: gray;
}
.ccBottomRight{
    float: right;
    margin-right: 20px;
}
.ccnewComment{
    text-align: center;
    width: 1320px;
    height: 40px;
    margin: 18px auto;
}
.ccInput{
    width: 1000px;
    display: inline-block;
}
.ccInput input{
    color: rgb(74, 74, 74);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: rgb(251, 251, 251);
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 14px;
    border-radius: 6px;
    -webkit-box-flex: 1;
}
.ccButton{
    width: 82px;
    float: right;
    margin-right: 100px;
}
.button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 18px;
    height: 38px;
    border: none;
    border-radius: 6px;
    flex-shrink: 0;
    width: 73px;
    padding: 10px 11.5px 10px 10.5px;
    margin-left: 0px;
    cursor: pointer;
}
.bubble{
    margin-right: 5px;
}

.commentTitle{
    width: 1320px;
    height: 40px;
    margin-top: 10px;
}
.cmImgBox{
    float: left;
    width: 40px;
    height: 100%;
    margin-left: 15px;
}
.cmImg{
    margin: 0px auto;
    width: 40px;
    height: 40px;
    border-radius: 32px;
}
.cmName{
    height: 40px;
    float: left;
    font-size: 17px;
    font-weight: 400;
    margin-left: 5px;
    letter-spacing: -0.3px;
    line-height: 40px;
    color:rgba(0, 0, 0, 0.8);
}
.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the modal is on top of other content */

  }
.modal {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 90%; /* Limit the modal's maximum width */
    position: fixed; /* Keep the modal fixed on the screen */
    top: 50%; /* Position the modal vertically at 50% from the top */
    left: 50%; /* Position the modal horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the modal */
  }
  .modalContent {
    text-align: center;
  }
  
  .modalContent h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
  }
  
  .modalContent form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalContent textarea {
    width: 100%;
    height: 500px;
    max-width: 400px;
    margin-bottom: 40px;
    resize: vertical;
    padding: 5px;
    border: none;
  }
  
  .submitButtonContainer {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px; /* Move the button to the right */
  }
  
  .closeButton {
    display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    background-color: lightgray;
    border-radius: 50px;
    border: none;
    color: #555;
    font-size: 20px;
    cursor: pointer;
    
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
