.wrapper{
    background-color: white;
    width: 100%;
    height: 300px;
}
.topHead{

    width: 1320px;
    margin: 30px auto;
}
.topHead h2{
    font-size: 24px;
    font-family: 'Noto Sans Kr';
    font-weight: 700;
    line-height: 28px;
}
.cont{
    width: 1320px;
    margin-top: 30px;
    
    margin: 0 auto;
}
.people1{
    width: 100%;
}
.people1_1{
    width: 23%;
    float: left;
    margin: 10px;
    
}
.people_link{
    width: 100%;
    height: 76px;
}
.people_img{
  float: left;
}
.people_img_img{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 5px;
}
.people_details{
    width: 220px;
    height: 60px;
    margin-left: 15px;
    float: left;
    border-bottom: 1px solid rgb(240, 240, 240);
    
}
.people_details h5{
    font-family: 'Noto Sans Kr';
    font-weight: 400;
    color: black;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 5px;
}
.people_details p{
    font-family: 'Noto Sans Kr';
    font-weight: 400;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    letter-spacing: -0.3px;
}