@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto&display=swap');

.MainPage_box{
    width: 100%;
    margin-top: 62px;
    min-height: 100vh;
    background-color: white;
    border-top: 1px solid #ddd;
    flex-direction: column;
}


/* 박스오피스 시작 */

.BoxOffice_box_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.BoxOffice_box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  height: 500px;
  flex-direction: column;
}

.Footer {
  margin-top: auto; /* Push the footer to the bottom of the container */
  width: 100%;
  background-color: #f2f2f2; /* Add a background color for the footer */
  padding: 20px;
  border-top: 1px solid #ddd;
}

.BoxOffice_box_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}

.BoxOffice_box_info {
  width: 100%;
  flex: 9;
  margin-top: 10px;
}

.BoxOffice_mainBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 370px;

}
.BoxOffice_bottom{
  text-overflow: ellipsis;
  white-space : nowrap;
  overflow: hidden;
  width: 85%;
}

.BoxOffice_bottoms{
  margin-left: 20px;
  color: black;
  font-size: 11px;
}

.BoxOffice_box_header h3 {
  margin-left: 20px;
  color: black;
}

.BoxOffice_poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  object-fit: cover;
  
}
.BoxOffice_img{
  height: 100%;
  width: 90%;
}
.BoxOffice_content {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoxOffice_content > img {
  width: 90%;
  height: 100%;
}


.BoxOffice_bottom {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: small;
  padding-left: 20px;
}

.BoxOffice_number {
  display: flex;
  position: absolute;
  left: 20px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.77);
  border-radius: 25%; 
  color: rgb(255, 255, 255);
  padding: 6px; 
  font-size: small;
  z-index: 9999;
  width: 20px; 
  height: 20px; 
  align-items: center;
  justify-content: center;
}
/* 박스 오피스 끝 */

/* 개봉예정작 시작 */

.Upcomming_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .Upcomming_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 500px;
    flex-direction: column;
  }
  
  .Upcomming_box_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
  }
  
  .Upcomming_box_info {
    width: 100%;
    flex: 9;
    margin-top: 10px;
  }

  .Upcomming_mainBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
  
  .Upcomming_box_header h3 {
    margin-left: 20px;
    color: black;
  }
  
  .Upcomming_poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .Upcomming_content {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Upcomming_content > img {
    width: 90%;
    height: 100%;
  }


.Upcomming_bottom {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
    padding-left: 20px;
}

.Upcomming_bottom{
  text-overflow: ellipsis;
  white-space : nowrap;
  overflow: hidden;
  width: 85%;
}

.Upcomming_bottoms{
  color: black;
  font-size: 11px;
}
.Upcomming_number {
    display: flex;
    position: absolute;
    left: 20px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 25%; 
    color: rgb(255, 255, 255);
    padding: 6px; 
    font-size: small;
    z-index: 9999;
    width: 20px; 
    height: 20px; 
    align-items: center;
    justify-content: center;
  }

/* 개봉예정작 끝 */


/* 감독 모음작 시작 */

.DirectorMovie_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .DirectorMovie_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 500px;
    flex-direction: column;
  }
  
  .DirectorMovie_box_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
  }
  
  .DirectorMovie_box_info {
    width: 100%;
    flex: 9;
    margin-top: 10px;
  }

  .DirectorMovie_mainBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
  
  .DirectorMovie_box_header h3 {
    margin-left: 20px;
    color: black;
  }
  
  .DirectorMovie_poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .DirectorMovie_content {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.DirectorMovie_content > img {
    width: 90%;
    height: 100%;
  }


.DirectorMovie_bottom {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
    padding-left: 20px;
}

.DirectorMovie_number {
    display: flex;
    position: absolute;
    left: 20px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 25%; 
    color: rgb(255, 255, 255);
    padding: 6px; 
    font-size: small;
    z-index: 9999;
    width: 20px; 
    height: 20px; 
    align-items: center;
    justify-content: center;
  }


/* 감독 모음작 끝 */

/* 배우 모음작 시작 */

.ActorMovie_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .ActorMovie_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 500px;
    flex-direction: column;
  }
  
  .ActorMovie_box_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
  }
  
  .ActorMovie_box_info {
    width: 100%;
    flex: 9;
    margin-top: 10px;
  }

  .ActorMovie_mainBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
  
  .ActorMovie_box_header h3 {
    margin-left: 20px;
    color: black;
  }
  
  .ActorMovie_poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .ActorMovie_content {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.ActorMovie_content > img {
    width: 90%;
    height: 100%;
  }


.ActorMovie_bottom {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
    padding-left: 20px;
}

.ActorMovie_number {
    display: flex;
    position: absolute;
    left: 20px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 25%; 
    color: rgb(255, 255, 255);
    padding: 6px; 
    font-size: small;
    z-index: 9999;
    width: 20px; 
    height: 20px; 
    align-items: center;
    justify-content: center;
  }

/* 배우 모음작 끝 */

/* 장르 시작 */

.Genre_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .Genre_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 500px;
    flex-direction: column;
  }
  
  .Genre_box_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
  }
  
  .Genre_box_info {
    width: 100%;
    flex: 9;
    margin-top: 10px;
  }

  .Genre_mainBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
  
  .Genre_box_header h3 {
    margin-left: 20px;
    color: black;
  }
  
  .Genre_poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .Genre_content {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Genre_content > img {
    width: 90%;
    height: 100%;
  }


.Genre_bottom {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
    padding-left: 20px;
}

.Genre_number {
    display: flex;
    position: absolute;
    left: 20px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 25%; 
    color: rgb(255, 255, 255);
    padding: 6px; 
    font-size: small;
    z-index: 9999;
    width: 20px; 
    height: 20px; 
    align-items: center;
    justify-content: center;
  }

/* 장르 끝 */

/* 검색 결과 페이지 시작 */

.SearchSuccess_wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.SearchSuccess_result_boxing {
  width: 100%;
  height: 100px;
  margin-top: 60px;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center; 
}

.SearchSuccess_result_wrapper {
  height: 570px;
  width: 100%;
}

.SearchSuccess_result {
  width: 80%;
  margin-left: 10%;
  justify-content: center; 
  text-align: center;
}

.SearchSuccess_result h3 {
  display: flex;
  align-self: flex-start;
}


.SearchSuccess_result_box {
  width: 80%;
  margin: 20px auto; 
  height: 400px;
}






/* 검색 결과 페이지 끝 */

