.topNav {
    height: 500px;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.topNav .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.topNav .navWrapper .leftNav, .topNav .navWrapper .rightNav {
    display: flex;
    align-items: center;
}

.topNav .navWrapper .leftNav li, .topNav .navWrapper .rightNav li {
    list-style-type: none;
}

.topNav .navWrapper .leftNav .logoSection {
    width: 160px;
    height: 40px;
    font-size: 0;
    background-image: url("../img/Reel_Review_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50px;
    cursor: pointer;
}

.topNav .navWrapper .rightNav {
    margin-right: 50px;
}

.topNav .navWrapper .rightNav .findMovies {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    margin-right: 25px;
}

.topNav .navWrapper .rightNav .findMovies .findWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    background-size: 16px;
    background-image: url("../img/search_icon.svg");
    background-repeat: no-repeat;
    background-color: #F5F5F7;
    background-position: 3% 50%;
}

.topNav .navWrapper .rightNav .findMovies .findWrapper input {
    width: 100%;
    height: 25px;
    border: none;
    background: none;
}

.topNav .navWrapper .rightNav .findMovies .findWrapper button {
    display: none;
}

.topNav .navWrapper .rightNav .findMovies .findWrapper input:focus {
    outline: none;
}

.topNav .navWrapper .rightNav .askReel {
    color: #4C4C4C;
    margin-left: 15px;
    background-color: none;
    letter-spacing: -0.7px;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    font-size: 14px;
}

.topNav .navWrapper .rightNav .loginBtn {
    color: #4C4C4C;
    margin-right: 25px;
    cursor: pointer;
    letter-spacing: -0.7px;
    font-size: 14px;
}

.topNav .navWrapper .rightNav .regBtn {
    line-height: 20px;
    box-sizing: border-box;
    width: auto;
    min-width: 72px;
    height: 32px;
    background: transparent;
    color: #353535;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgba(116,116,123,0.5);
    border-radius: 6px;
    margin: 15px 0;
    letter-spacing: -0.3px;
    padding: 5px 14px 6px 14px;
    cursor: pointer;
}